*
!*/
!*.cpp
!*.h
!*.json
!*.txt
!*.ui
!*.qml
!*.qrc
!*.cmake
!*.png
!*.mp3
!*.gitignore

**/nlohmann_json
**/_deps
**/cpr
**/build-HtmlCreate-Desktop_Qt_6_6_2_MinGW_64_bit-Debug
**/example-cmake-fetch-content